<div id="events"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Eventsblog.Routers.EventsRouter({events: <%= @events.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
