<h1>Listing events</h1>

<table id="events-table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Event</a>